<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gifts</title>
</head>
<body>
    <div class="mainContent">
        <table>
            <tr>Gifts</tr>
            {% for gift in gifts %}
                <tr>
                    <td>{{ ticket.location }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><br>Add a new Gift</p>
        <form id="giftform" method="POST">
            <label for="gift">Gift:</label>
            <input type="text" id="gift" name="giftName">
            <br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>