    
{% extends "base.html" %}

{% block content %}

    <h1>Home</h1>
    <form id="login" method="POST">
    {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="userName">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name ="userPassword">
        <br><br>
        <input type="submit">
        <br><br>
        Not registered? Click here to make an account.
    </form>
    <p>{{ message }}</p>

{% endblock content %}