{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
<div class="topnav">
  <a class="active" href="{% url "Home1" %}">Home</a>
  <a href="{% url "Registration1" %}">Registration</a>
  <a href="{% url "Users1" %}">Users</a>
  <a href="{% url "Gifts1" %}">Gifts</a>
</div>
    {% block content %}{% endblock content %}
</body>
</html>